<nz-drawer
        [nzWidth]="kuandu"
        [nzVisible]="xianshiyufou"
        nzPlacement="right"
        [nzClosable]="false"
        [nzTitle]="biaoti"
>
    <ng-content></ng-content>
    <div style="position: absolute;bottom: 20px;right: 20px">
        <nz-button-group>
            <button nz-button nzType="primary" (click)="quedingdianji.emit()">确定</button>
            <button (click)="quxiaodianji.emit()" [hidden]="!xianshiquxiao" nz-button>取消</button>
        </nz-button-group>
    </div>
</nz-drawer>
