<nz-layout style="height: 100%">
    <nz-sider nzCollapsible nzWidth="200px">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li *ngFor="let yiji of yijiliebiao()" nz-submenu [nzTitle]="yiji">
                <ul>
                    <li nz-menu-item
                        *ngFor="let erji of erjiliebiao(yiji)"
                        (click)="caidandianji(yiji,erji)"
                    >{{erji}}</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header></nz-header>
        <nz-content>
            <nz-tabset [nzType]="'line'">
                <nz-tab [nzTitle]="titleTemplate">
                    <ng-template #titleTemplate>
                        <div>
                            000000000000
                            <i nz-icon nzType="close"></i>
                        </div>
                    </ng-template>
                    <div #ceshi>
                    </div>
                </nz-tab>
            </nz-tabset>
        </nz-content>
        <nz-footer>JJY ©2020 Angular</nz-footer>
    </nz-layout>
</nz-layout>