<nz-layout style="height: 100%">
    <nz-sider nzCollapsible nzWidth="200px">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li *ngFor="let yiji of yijiliebiao()" nz-submenu [nzTitle]="yiji">
                <ul>
                    <li nz-menu-item *ngFor="let erji of erjiliebiao(yiji)">{{erji}}</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header></nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                Bill is a cat.
            </div>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>