<div style="margin-bottom: 10px;text-align: right">
    <form nz-form style="display: inline-block">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="zhanghao">帐号</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input [(ngModel)]="chaxunxinxi.zhanghao" name="zhanghao" nz-input type="text">
            </nz-form-control>
        </nz-form-item>
    </form>
    <nz-button-group>
        <button (click)="huoqushuju()" nz-button nzType="primary">查询</button>
        <button nz-button nzType="primary" (click)="chuangjianyonghu()">创建用户</button>
    </nz-button-group>
</div>

<nz-table #biaoge [nzData]="biaogeshuju">
    <thead>
    <tr>
        <th>帐号</th>
        <th>启用</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of biaoge.data">
        <td>{{ data.zhanghao }}</td>
        <td><label (ngModelChange)="jihuogaibian(data.id,data.jihuo)" [(ngModel)]="data.jihuo" nz-checkbox></label>
        </td>
        <td>
            <a (click)="shangchu(data.id)">删除</a>
        </td>
    </tr>
    </tbody>
</nz-table>

<app-chouti
        [xianshiyufou]="xianshitianjia"
        biaoti="用户信息"
        [kuandu]="500"
        (quedingdianji)="quedingtianjian()"
        (quxiaodianji)="quxiaotianjia()"
>
    <form nz-form nzLayout="vertical">
        <nz-form-item>
            <nz-form-label>帐号</nz-form-label>
            <nz-form-control>
                <input nz-input name="zhanghao" [(ngModel)]="tianjiaxinxi.zhanghao">
            </nz-form-control>
        </nz-form-item>
    </form>
</app-chouti>
