<div style="margin-bottom: 10px;text-align: right">
    <nz-button-group>
        <button nz-button nzType="primary">查询</button>
        <button nz-button nzType="primary" *ngIf="xianshiTianjiaAnniu">新增</button>
        <button nz-button nzType="primary">删除</button>
    </nz-button-group>
</div>
<nz-table #biaoge
          [nzData]="biaogeshuju"
          [nzTotal]="zongshu"
          [(nzPageIndex)]="dangqianyema"
          (nzPageIndexChange)="yemagaibian()"
>
    <thead>
    <ng-template [ngIf]="!biaotoumoban">
        <ng-content select="biaotoumoban"></ng-content>
    </ng-template>
    <ng-template [ngIf]="biaotoumoban">
        <tr>
            <th *ngFor="let it of biaotoumoban">{{it}}</th>
        </tr>
    </ng-template>
    </thead>
    <tbody>
    <tr *ngFor="let data of biaoge.data">
        <td>{{ data.zhanghao }}</td>
        <td>{{ data.jihuo |truefalse}}</td>
        <td>
            <a>Action</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
        </td>
    </tr>
    </tbody>
</nz-table>