<!-- 查询部分 -->
<div style="margin-bottom: 10px;text-align: right">
    <form nz-form style="display: inline-block">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="mingcheng">名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input [(ngModel)]="chaxunxinxi.mingcheng" name="mingcheng" nz-input type="text">
            </nz-form-control>
        </nz-form-item>
    </form>
    <nz-button-group>
        <button (click)="huoqushuju()" nz-button nzType="primary">查询</button>
        <button (click)="xianshitianjia=true" nz-button nzType="primary">创建角色</button>
    </nz-button-group>
</div>

<!-- 表格部分 -->
<nz-table #biaoge [nzData]="biaogeshuju.juese">
    <thead>
    <tr>
        <th>名称</th>
        <th>激活</th>
        <th>说明</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of biaoge.data">
        <td>{{ data.mingcheng }}</td>
        <td>
            <label (ngModelChange)="jihuogaibian(data.id,data.jihuo)" [(ngModel)]="data.jihuo" nz-checkbox></label>
        </td>
        <td nzBreakWord>{{ data.shuoming }}</td>
        <td>
            <a (click)="shezhijuese(data.id)">接口</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="xiugaijuese(data.id)">修改</a>
        </td>
    </tr>
    </tbody>
</nz-table>

<!-- 添加角色 -->
<app-chouti
        (quedingdianji)="quedingtianjian()"
        (quxiaodianji)="quxiaotianjia()"
        [kuandu]="500"
        [xianshiyufou]="xianshitianjia"
        biaoti="角色信息"
>
    <form nz-form nzLayout="vertical">
        <nz-form-item>
            <nz-form-label>名称</nz-form-label>
            <nz-form-control>
                <input [(ngModel)]="tianjiaxinxi.mingcheng" name="mingcheng" nz-input/>
            </nz-form-control>
            <nz-form-label>说明</nz-form-label>
            <nz-form-control>
                <textarea [(ngModel)]="tianjiaxinxi.shuoming" name="shuoming" nz-input></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
</app-chouti>

<!-- 设置接口 -->
<app-chouti
        (quedingdianji)="xianshijuese=false"
        (quxiaodianji)="xianshijuese=false"
        [kuandu]="500"
        [xianshiquxiao]="false"
        [xianshiyufou]="xianshijuese"
        biaoti="用户角色"
>
    <nz-table #juese [nzData]="jueseqingkuang">
        <thead>
        <tr>
            <th>名称</th>
            <th>启用</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of juese.data">
            <td>{{ data.mingcheng }}</td>
            <td>
                <label (ngModelChange)="juesegaibian(data.id,data.yongyou)"
                       [(ngModel)]="data.yongyou"
                       nz-checkbox>
                </label>
            </td>
        </tr>
        </tbody>
    </nz-table>
</app-chouti>
